Every year, American high school students take SATs, which are standardized tests intended to measure literacy, numeracy, and writing skills. There are three sections - reading, math, and writing, each with a **maximum score of 800 points**. These tests are extremely important for students and colleges, as they play a pivotal role in the admissions process.

Analyzing the performance of schools is important for a variety of stakeholders, including policy and education professionals, researchers, government, and even parents considering which school their children should attend. 

You have been tasked with answering three key questions about New York City (NYC) public school SAT performance;
*Which NYC schools have the best math results?
*What are the top 10 performing schools based on the combined SAT scores?
*Which single borough has the largest standard deviation in the combined SAT score?

In [1]:

import pandas as pd
import numpy as np

# Read in the data
schools = pd.read_csv('/kaggle/input/school/schools.csv')

# Preview the data
schools.head()

,school_name,borough,building_code,average_math,average_reading,average_writing,percent_tested
0,"New Explorations into Science, Technology and ...",Manhattan,M022,657,601,601,NaN
1,Essex Street Academy,Manhattan,M445,395,411,387,78.9
2,Lower Manhattan Arts Academy,Manhattan,M445,418,428,415,65.1
3,High School for Dual Language and Asian Studies,Manhattan,M445,613,453,463,95.9
4,Henry Street School for International Studies,Manhattan,M056,410,406,381,59.7

In [2]:

best_math = schools[schools["average_math"] >= 640]

best_math_schools= best_math[["school_name","average_math"]].sort_values("average_math", ascending=False)

print(best_math_schools)

                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683
280                     Brooklyn Technical High School           682
333                        Townsend Harris High School           680
174  High School of American Studies at Lehman College           669
0    New Explorations into Science, Technology and ...           657
45                       Eleanor Roosevelt High School           641

In [3]:
schools["total_SAT"] = schools["average_math"] + schools["average_reading"] + schools["average_writing"]
top_schools = schools[["school_name","total_SAT"]].sort_values("total_SAT",ascending = False)
top_10_schools = top_schools.iloc[0:10,:]
print(top_10_schools)

                                           school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
365  Queens High School for the Sciences at York Co...       1947
5                       Bard High School Early College       1914
280                     Brooklyn Technical High School       1896
45                       Eleanor Roosevelt High School       1889
68   High School for Mathematics, Science, and Engi...       1889

In [4]:

# Grouping by borough and calculating aggregates
schools_by_borough = schools.groupby('borough')["total_SAT"].agg(['mean', 'median', 'std', 'sum'])
num_school_total = schools.groupby('borough').size()
schools_by_borough["num_schools"] = num_school_total

# Rounding the aggregated columns
borough_rounded = schools_by_borough[["mean", "std", "num_schools", "sum"]].round(2)

# Sorting by standard deviation
rank_by_std = borough_rounded.sort_values("std", ascending=False)

# Renaming columns
borough_renamed = rank_by_std.rename(columns={"mean": "average_SAT", "sum": "total_SAT","std":"std_SAT"})

# Selecting specific columns
info = borough_renamed[["num_schools", "average_SAT", "total_SAT","std_SAT"]]

# Extracting the row with the largest standard deviation
largest_std_dev = info.head(1)

# Reassigning index to be the borough name
largest_std_dev.index = [largest_std_dev.index[0]]
largest_std_dev.index.name = 'borough'
print(largest_std_dev)

           num_schools  average_SAT  total_SAT  std_SAT
borough
Manhattan           89      1340.13     119272   230.29